In [10]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import playercareerstats

In [6]:
nba_players = players.get_players()

In [9]:
giannis_id = [player for player in nba_players if "Giannis A" in player["full_name"]][0]["id"]

In [16]:
giannis_career = playercareerstats.PlayerCareerStats(player_id=giannis_id)
giannis_reg_season = giannis_career.get_data_frames()[0]

In [17]:
giannis_reg_season

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203507,2013-14,00,1610612749,MIL,19.0,77,23,1897.0,173,...,0.683,78,261,339,150,60,61,122,173,525
1,203507,2014-15,00,1610612749,MIL,20.0,81,71,2541.0,383,...,0.741,100,442,542,207,73,85,173,254,1030
2,203507,2015-16,00,1610612749,MIL,21.0,80,79,2823.0,513,...,0.724,113,499,612,345,94,113,208,258,1350
3,203507,2016-17,00,1610612749,MIL,22.0,80,80,2845.0,656,...,0.770,142,558,700,434,131,151,234,246,1832
4,203507,2017-18,00,1610612749,MIL,23.0,75,75,2756.0,742,...,0.760,156,597,753,361,109,106,223,231,2014
5,203507,2018-19,00,1610612749,MIL,24.0,72,72,2358.0,721,...,0.729,159,739,898,424,92,110,268,232,1994
6,203507,2019-20,00,1610612749,MIL,25.0,63,63,1917.0,685,...,0.633,140,716,856,354,61,66,230,195,1857
7,203507,2020-21,00,1610612749,MIL,26.0,61,61,2013.0,626,...,0.685,97,574,671,357,72,73,207,168,1717

In [20]:
giannis_reg_season["PP36"] = giannis_reg_season["PTS"] / giannis_reg_season["MIN"] * 36

In [21]:
giannis_reg_season["PP36"]

0     9.963100
1    14.592680
2    17.215728
3    23.181722
4    26.307692
5    30.442748
6    34.873239
7    30.706408
Name: PP36, dtype: float64