In [4]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import teamdashboardbyteamperformance, teamdetails

import os
import json

import pandas as pd
import pymongo

In [5]:
MKE_id = teams.find_team_by_abbreviation("MIL")["id"]
SAS_id = teams.find_team_by_abbreviation("SAS")["id"]

In [6]:
dash_info = teamdashboardbyteamperformance.TeamDashboardByTeamPerformance(
    team_id=MKE_id, 
    per_mode_detailed=teamdashboardbyteamperformance.PerModeDetailed.per_100_possessions, 
    season='1996-97')

In [4]:
dash_info.get_data_frames()[0]

,GROUP_SET,GROUP_VALUE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,Overall,1996-97,82,33,49,0.402,52.9,39.7,84.4,0.471,...,1,1,1,1,1,1,1,1,175,1996-97

In [5]:
bud_seasons = {"ATL": [*range(2013, 2018, 1)],
               "MIL": [*range(2018, 2021, 1)]
              }

In [6]:
# Create a folder to hold any data we export
DATA_PATH = "./data"
if not os.path.isdir(DATA_PATH):
        os.mkdir(DATA_PATH)

def generate_dataset(team_dict: dict, coach: str):
        
    # Create a folder for the coach you're about to get DataFrames for
    coach_path = os.path.join(DATA_PATH, coach)
    if not os.path.isdir(coach_path):
        os.mkdir(coach_path)
    
    # iterate through the teams for the coach
    for team in team_dict.keys():
        # Grab team ID from the static information
        team_id = teams.find_team_by_abbreviation(team)["id"]
        # Get the list of years
        years = team_dict[team]
        # Format the years into proper season strings
        seasons = [f"{year}-{((year+1) % 100):02d}" for year in years]
        
        df_list = list()
        for season in seasons:
            team_100_poss_stats = teamdashboardbyteamperformance.TeamDashboardByTeamPerformance(
                                                                        team_id=team_id, 
                                                                        per_mode_detailed=teamdashboardbyteamperformance.PerModeDetailed.per_100_possessions, 
                                                                        season=season).get_data_frames()[0]

            df_list.append(team_100_poss_stats)
            
        # Post-FOR loop, we can concatenate to get a team-based dataframe and save it.
        career_stats = pd.concat(df_list, axis=0)
        career_stats.to_csv(os.path.join(coach_path, f"{coach}_{team}.csv"), index=False)

In [7]:
generate_dataset(bud_seasons, "Budenholzer")

In [8]:
pop_seasons = {"SAS": [*range(1996, 2021)]}

In [ ]:
generate_dataset(pop_seasons, "Popovich")

In [3]:
import keyring

In [4]:
import certifi

In [5]:
SYSTEM = "Mongo"
USER = "irvshen"
password = keyring.get_password(SYSTEM, USER)

In [20]:
client = pymongo.MongoClient(f"mongodb+srv://{USER}:{password}@cluster.y7nkt.mongodb.net/", tlsCAFile=certifi.where())

In [21]:
db = client.TeamStats
SummerNBA = db.Popovic

In [22]:
data = pd.read_csv(r"./data/Popovich/Popovich_SAS.csv")
payload = data.to_dict("records")

In [23]:
import datetime
personDocument = {
  "name": { "first": "Alan", "last": "Turing" },
  "birth": datetime.datetime(1912, 6, 23),
  "death": datetime.datetime(1954, 6, 7),
  "contribs": [ "Turing machine", "Turing test", "Turingery" ],
  "views": 1250000
}

In [28]:
SummerNBA.insert_many(payload)

In [30]:
SummerNBA.jobs.drop()