In [9]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import teamdashboardbyteamperformance

import os

import pandas as pd

In [2]:
MKE_id = teams.find_team_by_abbreviation("MIL")["id"]
SAS_id = teams.find_team_by_abbreviation("SAS")["id"]

In [3]:
dash_info = teamdashboardbyteamperformance.TeamDashboardByTeamPerformance(
    team_id=MKE_id, 
    per_mode_detailed=teamdashboardbyteamperformance.PerModeDetailed.per_100_possessions, 
    season='1996-97')

In [4]:
dash_info.get_data_frames()[0]

,GROUP_SET,GROUP_VALUE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,Overall,1996-97,82,33,49,0.402,52.9,39.7,84.4,0.471,...,1,1,1,1,1,1,1,1,175,1996-97

In [8]:
bud_seasons = {"ATL": [13, 14, 15, 16, 17],
               "MIL": [18, 19, 20]
              }

In [14]:
# Create a folder to hold any data we export
DATA_PATH = "./data"
if not os.path.isdir(DATA_PATH):
        os.mkdir(DATA_PATH)

def generate_dataset(team_dict: dict, coach: str):
        
    # Create a folder for the coach you're about to get DataFrames for
    coach_path = os.path.join(DATA_PATH, coach)
    if not os.path.isdir(coach_path):
        os.mkdir(coach_path)
    
    # iterate through the teams for the coach
    for team in bud_seasons.keys():
        # Grab team ID from the static information
        team_id = teams.find_team_by_abbreviation(team)["id"]
        # Get the list of years
        years = bud_seasons[team]
        # Format the years into proper season strings
        seasons = [f"20{year}-{year+1}" for year in years]
        for season in seasons:
            team_100_poss_stats = teamdashboardbyteamperformance.TeamDashboardByTeamPerformance(
                                                                        team_id=team_id, 
                                                                        per_mode_detailed=teamdashboardbyteamperformance.PerModeDetailed.per_100_possessions, 
                                                                        season=season).get_data_frames()[0]

            team_100_poss_stats.to_csv(os.path.join(coach_path, f"{team}_{season}.csv"), index=False)

In [15]:
generate_dataset(bud_seasons, "Budenholzer")

In [ ]:
pop_seasons = {"SAS": [0,